/* .popup__submit-btn_disabled {
    background-color: white;
    color: rgb(204, 204, 204);
    border: 1px solid  rgb(204, 204, 204);
    border-radius: 2px;
    padding-top: 14px;
    padding-bottom: 18px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
    margin-top: 18px;
} */