.profile{
    display: flex;
    justify-content: space-between;
    padding: 0 19px;
    margin-top: 50px;
    align-items: center;
}
@media screen and (max-width: 1023px){
    .profile{
        display: flex;
        flex-direction: column;
    }
}
